name: Build sdist and wheels

on:
  pull_request:
  push:
    branches:
      - main

env:
  LIBZIM_DL_VERSION: "9.4.0-1"
  MACOSX_DEPLOYMENT_TARGET: "13.0"
  CIBW_ENVIRONMENT_PASS_LINUX: "LIBZIM_DL_VERSION"
  CIBW_BUILD_VERBOSITY: "3"


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-14, windows-2022, ubuntu-24.04]

    steps:
      - uses: actions/checkout@v5

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2

      - uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v5
        with:
          name: sdist
          path: dist/*.tar.gz
