name: QA
on: [push]

env:
  LIBZIM_DL_VERSION: "9.4.0"
  MACOSX_DEPLOYMENT_TARGET: "13.0"

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          architecture: x64

      - name: Install dependencies (and project)
        run: |
          pip install -U pip
          pip install -e .[lint,scripts,test,check]

      - name: Check black formatting
        run: inv lint-black

      - name: Check ruff
        run: inv lint-ruff

      - name: Check pyright
        run: inv check-pyright
