name: test
on: [push]

env:
  LIBZIM_DL_VERSION: "8.2.1"

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          architecture: x64

      - name: Check formatting and linting
        run: |
          pip install -U invoke
          invoke install-dev
          invoke check

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-12]
        python: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          architecture: x64

      - name: Installing dependencies
        run: pip install -U pip setuptools build

      - name: Building & installing for tests (with profiling)
        env:
          PROFILE: 1
        run: pip install -e .

      - name: Testing
        run: |
          pip install pytest pytest-cov cython
          py.test --cov=libzim --cov-report=term --cov-report term-missing .

      - name: Upload coverage report to codecov
        if: matrix.os == 'ubuntu-22.04' && matrix.python == '3.11'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
