name: test
on: [push]

env:
  LIBZIM_VERSION: 6.3.2
  LIBZIM_INCLUDE_PATH: include/zim
  MAX_LINE_LENGTH: 110

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
          architecture: x64

      - name: Autoformat with black
        run: |
          pip install black==19.10b0
          black --check --exclude=setup.py .

      - name: Lint with flake8
        run: |
          pip install flake8
          # one pass for show-stopper syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --exclude=setup.py --show-source --statistics
          # one pass for small stylistic things
          flake8 . --count --exclude=setup.py --max-line-length=$MAX_LINE_LENGTH --statistics

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        # TODO: expand this once macos and windows libzim releases become available
        # os: [ubuntu-latest, windows-latest, macos-latest]
        # alternatively we can compile libzim in docker and use the container as an action
        python: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
          architecture: x64

      - name: set macOS environ
        if: matrix.os == 'macos-latest'
        run: |
          echo LIBZIM_EXT=dylib >> $GITHUB_ENV
          echo LIBZIM_RELEASE=libzim_macos-x86_64-$LIBZIM_VERSION >> $GITHUB_ENV
          echo LIBZIM_LIBRARY_PATH=lib/libzim.${LIBZIM_VERSION:0:1}.dylib >> $GITHUB_ENV

      - name: set linux environ
        if: matrix.os == 'ubuntu-latest'
        run: |
          echo LIBZIM_EXT=so >> $GITHUB_ENV
          echo LIBZIM_RELEASE=libzim_linux-x86_64-$LIBZIM_VERSION >> $GITHUB_ENV
          echo LIBZIM_LIBRARY_PATH=lib/x86_64-linux-gnu/libzim.so.$LIBZIM_VERSION >> $GITHUB_ENV

      - name: Cache libzim dylib & headers
        uses: actions/cache@master
        id: cache-libzim
        with:
          path: libzim_dist
          key: ${{ env.LIBZIM_RELEASE }}-libzim-cache

      - name: Download libzim dylib & headers from OpenZIM.org releases
        if: steps.cache-libzim.outputs.cache-hit != 'true'
        run: |
          wget -q https://download.openzim.org/release/libzim/$LIBZIM_RELEASE.tar.gz
          tar --gunzip --extract --file=$LIBZIM_RELEASE.tar.gz
          mv $LIBZIM_RELEASE libzim_dist

      - name: Link libzim dylib & headers into workspace lib and include folders
        run: |
          cp -p $GITHUB_WORKSPACE/libzim_dist/$LIBZIM_LIBRARY_PATH lib/libzim.$LIBZIM_EXT
          cp -p $GITHUB_WORKSPACE/libzim_dist/$LIBZIM_LIBRARY_PATH lib/
          ln -s $GITHUB_WORKSPACE/libzim_dist/$LIBZIM_INCLUDE_PATH include/zim
          export LD_LIBRARY_PATH="$PWD/lib:$LD_LIBRARY_PATH"

      - name: update Linux shared objects cache
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo ldconfig $PWD/lib

      - name: update macOS shared objects cache
        if: matrix.os == 'macos-latest'
        run: |
          export DYLD_LIBRARY_PATH="$PWD/lib:$DYLD_LIBRARY_PATH"

      - name: Build cython, sdist, and bdist_wheel
        run: |
          pip install --upgrade pip install "cython>=0.29.20,<3.0" setuptools pip wheel
          python3 setup.py build_ext
          python3 setup.py sdist bdist_wheel

      - name: Test built package with pytest
        run: |
          pip install pytest
          pip install -e .
          export DYLD_LIBRARY_PATH="$PWD/lib:$DYLD_LIBRARY_PATH"
          pytest .
